.grid-wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: #0d2c54;
    
    
    grid-template-rows:  1fr minmax(400px, 1fr) minmax(100px, .5fr) 1fr;
    grid-template-columns: minmax(200px, .5fr) minmax(100px, .5fr) 650px minmax(100px, .5fr);
}