.lazerBuild {
    position: relative;
    grid-row: 1/2;
    grid-column: 2/3;
    z-index: 10;
}

.cannonBuild{
    position: relative;
    grid-row: 2/3;
    grid-column: 2/3;
    z-index: 10;
}

.sniperBuild{
    position: relative;
    grid-row: 3/4;
    grid-column: 2/3;
    z-index: 10;
}

.lightningBuild{
    position: relative;
    grid-row: 4/5;
    grid-column: 2/3;
    z-index: 10;
}

.hyperBuild{
    position: relative;
    grid-row: 5/6;
    grid-column: 2/3;
    z-index: 10;
}