.map{
    
    
        &__4-1{
        grid-row: 1/2;
    grid-column: 4/5;
    z-index: 2;
    }
    &__4-2{
        grid-row: 2;
    grid-column: 4;
    z-index: 2;
    }
    &__4-3{
        grid-row: 3;
    grid-column: 4;
    z-index: 2;
    }
    &__4-4{
        grid-row: 4;
    grid-column: 4;
    z-index: 2;
    }
    &__4-5{
        grid-row: 5;
    grid-column: 4;
    z-index: 2;
    }
    &__4-6{
        grid-row: 6;
    grid-column: 4;
    z-index: 2;
    }
    &__4-7{
        grid-row: 7;
    grid-column: 4;
    z-index: 2;
    }
    &__4-8{
        grid-row: 8;
    grid-column: 4;
    z-index: 2;
    }
    
    
    

    
    

    
    
        &__5-1{
        grid-row: 1;
    grid-column: 5;
    z-index: 2;
    }
    &__5-2{
        grid-row: 2;
    grid-column: 5;
    z-index: 2;
    }
    &__5-3{
        grid-row: 3;
    grid-column: 5;
    z-index: 2;
    }
    &__5-4{
        grid-row: 4;
    grid-column: 5;
    z-index: 2;
    }
    &__5-5{
        grid-row: 5;
    grid-column: 5;
    z-index: 2;
    }
    &__5-6{
        grid-row: 6;
    grid-column: 5;
    z-index: 2;
    }
    &__5-7{
        grid-row: 7;
    grid-column: 5;
    z-index: 2;
    }
    &__5-8{
        grid-row: 8;
    grid-column: 5;
    z-index: 2;
    }
    
    
    
        &__6-1{
        grid-row: 1;
    grid-column: 6;
    z-index: 2;
    }
    &__6-2{
        grid-row: 2;
    grid-column: 6;
    z-index: 2;
    }
    &__6-3{
        grid-row: 3;
    grid-column: 6;
    z-index: 2;
    }
    &__6-4{
        grid-row: 4;
    grid-column: 6;
    z-index: 2;
    }
    &__6-5{
        grid-row: 5;
    grid-column: 6;
    z-index: 2;
    }
    &__6-6{
        grid-row: 6;
    grid-column: 6;
    z-index: 2;
    }
    &__6-7{
        grid-row: 7;
    grid-column: 6;
    z-index: 2;
    }
    &__6-8{
        grid-row: 8;
    grid-column: 6;
    z-index: 2;
    }
    
    
    
    
        &__7-1{
        grid-row: 1;
    grid-column: 7;
    z-index: 2;
    }
    &__7-2{
        grid-row: 2;
    grid-column: 7;
    z-index: 2;
    }
    &__7-3{
        grid-row: 3;
    grid-column: 7;
    z-index: 2;
    }
    &__7-4{
        grid-row: 4;
    grid-column: 7;
    z-index: 2;
    }
    &__7-5{
        grid-row: 5;
    grid-column: 7;
    z-index: 2;
    }
    &__7-6{
        grid-row: 6;
    grid-column: 7;
    z-index: 2;
    }
    &__7-7{
        grid-row: 7;
    grid-column: 7;
    z-index: 2;
    }
    &__7-8{
        grid-row: 8;
    grid-column: 8;
    z-index: 2;
    }
    
    
    
        &__8-1{
        grid-row: 1;
    grid-column: 8;
    z-index: 2;
    }
    &__8-2{
        grid-row: 2;
    grid-column: 8;
    z-index: 2;
    }
    &__8-3{
        grid-row: 3;
    grid-column: 8;
    z-index: 2;
    }
    &__8-4{
        grid-row: 4;
    grid-column: 8;
    z-index: 2;
    }
    &__8-5{
        grid-row: 5;
    grid-column: 8;
    z-index: 2;
    }
    &__8-6{
        grid-row: 6;
    grid-column: 8;
    z-index: 2;
    }
    &__8-7{
        grid-row: 7;
    grid-column: 8;
    z-index: 2;
    }
    &__8-8{
        grid-row: 8;
    grid-column: 8;
    z-index: 2;
    }
    
    
    &__9-1{
        grid-row: 1;
    grid-column: 9;
    z-index: 2;
    }
    &__9-2{
        grid-row: 2;
    grid-column: 9;
    z-index: 2;
    }
    &__9-3{
        grid-row: 3;
    grid-column: 9;
    z-index: 2;
    }
    &__9-4{
        grid-row: 4;
    grid-column: 9;
    z-index: 2;
    }
    &__9-5{
        grid-row: 5;
    grid-column: 9;
    z-index: 2;
    }
    &__9-6{
        grid-row: 6;
    grid-column: 9;
    z-index: 2;
    }
    &__9-7{
        grid-row: 7;
    grid-column: 9;
    z-index: 2;
    }
    &__9-8{
        grid-row: 8;
    grid-column: 9;
    z-index: 2;
    }
    
    
        &__10-1{
        grid-row: 1;
    grid-column: 10;
    z-index: 2;
    }
    &__10-2{
        grid-row: 2;
    grid-column: 10;
    z-index: 2;
    }
    &__10-3{
        grid-row: 3;
    grid-column: 10;
    z-index: 2;
    }
    &__10-4{
        grid-row: 4;
    grid-column: 10;
    z-index: 2;
    }
    &__10-5{
        grid-row: 5;
    grid-column: 10;
    z-index: 2;
    }
    &__10-6{
        grid-row: 6;
    grid-column: 10;
    z-index: 2;
    }
    &__10-7{
        grid-row: 7;
    grid-column: 10;
    z-index: 2;
    }
    &__10-8{
        grid-row: 8;
    grid-column: 10;
    z-index: 2;
    }
    
    
        &__11-1{
        grid-row: 1;
    grid-column: 11;
    z-index: 2;
    }
    &__11-2{
        grid-row: 2;
    grid-column: 11;
    z-index: 2;
    }
    &__11-3{
        grid-row: 3;
    grid-column: 11;
    z-index: 2;
    }
    &__11-4{
        grid-row: 4;
    grid-column: 11;
    z-index: 2;
    }
    &__11-5{
        grid-row: 5;
    grid-column: 11;
    z-index: 2;
    }
    &__11-6{
        grid-row: 6;
    grid-column: 11;
    z-index: 2;
    }
    &__11-7{
        grid-row: 7;
    grid-column: 11;
    z-index: 2;
    }
    &__11-8{
        grid-row: 8;
    grid-column: 11;
    z-index: 2;
    }
   
          &__12-1{
        grid-row: 1;
    grid-column: 12;
    z-index: 2;
    }
    &__12-2{
        grid-row: 2;
    grid-column: 12;
    z-index: 2;
    }
    &__12-3{
        grid-row: 3;
    grid-column: 12;
    z-index: 2;
    }
    &__12-4{
        grid-row: 4;
    grid-column: 12;
    z-index: 2;
    }
    &__12-5{
        grid-row: 5;
    grid-column: 12;
    z-index: 2;
    }
    &__12-6{
        grid-row: 6;
    grid-column: 12;
    z-index: 2;
    }
    &__12-7{
        grid-row: 7;
    grid-column: 12;
    z-index: 2;
    }
    &__12-8{
        grid-row: 8;
    grid-column: 12;
    z-index: 2;
} 
   
       &__13-1{
        grid-row: 1;
    grid-column: 13;
    z-index: 2;
    }
    &__13-2{
        grid-row: 2;
    grid-column: 13;
    z-index: 2;
    }
    &__13-3{
        grid-row: 3;
    grid-column: 13;
    z-index: 2;
    }
    &__13-4{
        grid-row: 4;
    grid-column: 13;
    z-index: 2;
    }
    &__13-5{
        grid-row: 5;
    grid-column: 13;
    z-index: 2;
    }
    &__13-6{
        grid-row: 6;
    grid-column: 13;
    z-index: 2;
    }
    &__13-7{
        grid-row: 7;
    grid-column: 13;
    z-index: 2;
    }
    &__13-8{
        grid-row: 8;
    grid-column: 13;
    z-index: 2;
} 
    
}